<%= partial "header" %>

<div class="hero-img">
	<!-- <img src="assets/images/aurora.jpg" alt="Aurora"> -->
	<!-- <div class="svg-text-wrap"> -->

		
		<svg
		   xmlns:dc="http://purl.org/dc/elements/1.1/"
		   xmlns:cc="http://creativecommons.org/ns#"
		   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
		   xmlns:svg="http://www.w3.org/2000/svg"
		   xmlns="http://www.w3.org/2000/svg"
		   version="1.1"
		   viewBox="0 0 744.09448819 1052.3622047"
		   height="297mm"
		   width="210mm"
		   id="svg01"
		   class="svgTest">
		  <title
		     id="title3420">test</title>
		  <defs
		     id="defs4" />
		  <metadata
		     id="metadata7">
		    <rdf:RDF>
		      <cc:Work
		         rdf:about="">
		        <dc:format>image/svg+xml</dc:format>
		        <dc:type
		           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
		        <dc:title>test</dc:title>
		      </cc:Work>
		    </rdf:RDF>
		  </metadata>
		  <g
		     id="layer1">
		    <path
		       id="path3336"
		       d="m 101.01525,207.87468 c 16.83588,-7.40779 35.32732,-32.60989 50.50763,-22.22336 13.74951,9.40756 -7.85869,32.38215 -12.12183,48.48732 -6.2916,23.76829 -9.96171,31.02345 -22.22335,56.56855 -2.34948,4.89473 -4.99075,9.67812 -8.08123,14.14213 -3.21925,4.65003 -11.078719,12.05592 -14.142131,18.18275 -0.301169,0.60234 -0.671109,2.07623 0,2.0203 8.164391,-0.68036 16.116921,-3.00315 24.243661,-4.04061 23.53267,-3.00417 47.00214,-8.92795 70.71068,-8.08122 43.07393,12.30684 27.71836,12.12183 44.44671,12.12183"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path3338"
		       d="m 206.07112,230.09803 c -10.85635,19.54143 -14.83638,20.67884 -12.12183,46.46702 0.41107,3.90519 2.29975,8.97318 6.06091,10.10153 10.98453,3.29535 23.50348,5.75882 34.34519,2.0203 15.92005,-5.48967 30.47961,-24.86372 28.28427,-42.42641 -1.45676,-11.65411 -8.88206,-11.79421 -16.16244,-16.16244 -0.81666,-0.48999 -1.13604,-1.6666 -2.0203,-2.0203 -0.0326,-0.013 -16.02655,-4.00178 -16.16244,-4.04061 -9.30714,-2.65918 -2.66997,-2.02031 -12.12184,-2.02031 -3.36717,0 -6.94874,-1.18229 -10.10152,0 -2.67523,1.00321 -4.04061,4.04061 -6.06092,6.06092"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path3340"
		       d="m 325.26912,228.07773 c -14.81557,13.4687 -30.28855,26.24794 -44.44671,40.4061 -0.95238,0.95238 2.69374,0 4.04061,0 2.81196,0 8.26405,1.08927 10.10152,-2.02031 20.19267,-34.1722 32.25567,-34.72278 12.12183,-60.60915 -0.82689,-1.06315 -3.67059,-1.29505 -4.04061,0 -1.29504,4.53267 -1.88947,9.82333 0,14.14214 3.07763,7.03457 9.02824,12.45518 14.14214,18.18274 11.73885,13.14751 24.10177,25.72647 36.36549,38.3858 8.61461,8.8925 20.62474,15.24185 26.26397,26.26397 9.60717,18.77765 13.29726,40.09013 18.18274,60.60915 1.87827,7.88871 3.93694,16.36418 2.02031,24.24366 -9.81158,40.33647 -26.00197,63.57216 -54.54824,92.93403 -10.99926,11.31353 -21.13739,26.17124 -36.36549,30.30458 -33.89566,9.20025 -71.49465,18.43521 -105.05587,8.08122 -34.37194,-10.60411 -58.87102,-41.79389 -84.85281,-66.67007 -6.32356,-6.05447 -7.87352,-15.77725 -10.10153,-24.24366 -1.19969,-4.55883 0,-9.42809 0,-14.14213 0,-2.69374 -0.77404,-5.50109 0,-8.08122 4.70042,-15.66804 21.72438,-30.68491 36.3655,-34.34519 50.52834,-12.63209 44.56967,7.8387 52.52793,44.44671 0.42917,1.9742 0,4.04061 0,6.06092 0,0.67343 0,1.34687 0,2.0203 0,0.67344 0.30117,1.41797 0,2.02031 -0.42592,0.85183 -1.34687,1.34687 -2.02031,2.0203 -2.53136,2.53137 -1.69204,2.64443 -6.06091,2.02031 -8.11035,-1.15862 -16.9159,-0.37673 -24.24366,-4.04061 -5.55329,-2.77665 -8.67783,-8.97613 -12.12183,-14.14214 -0.74711,-1.12066 0,-2.69374 0,-4.04061 0,-3.66542 -0.74711,-7.97365 4.04061,-10.10152 4.74327,-2.10813 14.7707,-3.62157 20.20305,0 2.37728,1.58485 4.04061,4.04061 6.06091,6.06091"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path3342"
		       d="m 432.34529,191.71224 c -34.3983,16.05253 -25.31934,4.17165 -36.36549,26.26396 -4.36417,8.72834 -6.25573,11.27039 -8.08122,22.22336 -0.55356,3.32136 0,6.73435 0,10.10152 0,2.02031 0,4.04061 0,6.06092 0,1.34687 0,2.69374 0,4.04061 0,0.67343 -0.21296,1.38143 0,2.0203 0.81699,2.451 3.55508,7.14154 6.06091,8.08123 8.63504,3.23813 27.54486,2.0203 34.34519,2.0203 0.46516,0 15.46527,1.60299 18.18274,-2.0203 8.84025,-11.78699 39.62398,-51.78401 26.26397,-70.71068 -31.27054,-44.29993 -45.27651,-32.40504 -72.73098,-20.20305"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path3344"
		       d="m 256.57875,385.66153 c 5.61773,16.6063 1.1338,14.14213 18.18274,14.14213 0.67344,0 1.34687,0 2.02031,0 0.67343,0 1.41796,0.30117 2.0203,0 0.85184,-0.42592 1.27662,-1.42536 2.02031,-2.0203 2.62932,-2.10346 5.70027,-3.67997 8.08122,-6.06092 2.97967,-2.97967 5.23933,-8.01392 6.06091,-12.12183 0.26415,-1.32071 0,-2.69374 0,-4.04061 0,-0.67344 0,-1.34687 0,-2.02031 0,-0.67343 0.47619,-1.54411 0,-2.0203 -0.47619,-0.47619 -1.45215,0.36155 -2.0203,0 -6.93517,-4.41329 -11.98273,-14.14214 -20.20305,-14.14214 -14.90712,0 -29.22121,7.22513 -42.42641,14.14214 -2.3862,1.24991 0,5.38748 0,8.08122 0,4.04061 0,8.08122 0,12.12183 0,2.02031 -0.28571,4.06092 0,6.06092 0.94698,6.62887 2.73501,10.3421 6.06092,16.16244 1.43624,2.51343 5.19555,8.37012 8.08122,10.10152 1.8261,1.09567 4.08364,1.2294 6.06091,2.02031 1.39814,0.55925 2.56401,1.72498 4.04061,2.0203 1.98107,0.39622 4.04061,0 6.06092,0 2.0203,0 4.04061,0 6.06091,0 5.33868,0 11.21166,0.73013 16.16244,-2.0203 3.76945,-2.09414 6.59264,-5.57487 10.10153,-8.08122 1.22536,-0.87526 2.97581,-0.95551 4.04061,-2.02031 0.47619,-0.47619 -0.21296,-1.38143 0,-2.0203 2.92381,-8.77144 2.0203,1.38794 2.0203,-10.10153"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path3346"
		       d="m 206.07112,454.3519 c -1.34687,4.71404 -2.85154,9.38583 -4.04061,14.14213 -0.16333,0.65333 -0.47619,1.54412 0,2.02031 0.47619,0.47619 1.34687,0 2.0203,0 3.31618,0 11.17352,1.17513 12.12183,-4.04061 4.9102,-27.00609 -1.17377,-18.81764 -10.10152,-12.12183 z"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path3348"
		       d="m 242.43661,452.33159 c -2.69374,0 -7.37245,-2.59882 -8.08122,0 -5.51083,20.20638 1.2544,29.67738 20.20305,20.20305 2.48351,-1.24175 1.62763,-5.33248 2.02031,-8.08122 0.28571,-2 0,-4.04061 0,-6.06091 0,-0.67344 0,-1.34687 0,-2.02031 0,-0.67343 0.47619,-1.54411 0,-2.0203 -0.47619,-0.47619 -1.54412,0.47619 -2.02031,0 -0.47619,-0.47619 0.66427,-1.90959 0,-2.02031 -3.98563,-0.66427 -8.08122,0 -12.12183,0 z"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path3350"
		       d="m 208.09142,521.02197 c -11.59489,0.68601 -2.41876,6.85783 -4.04061,10.10152 -0.42591,0.85184 -1.59438,1.16847 -2.0203,2.02031 -0.30117,0.60234 0.11071,1.35603 0,2.0203 -0.56452,3.38714 -1.53469,6.70218 -2.02031,10.10153 -0.19047,1.33333 0,2.69374 0,4.04061 0,2.0203 0,4.04061 0,6.06091 0,4.04061 0,8.08122 0,12.12183 0.67344,0 1.54412,-0.47619 2.02031,0 4.18008,4.18009 -6.38772,-0.1634 2.0203,4.04061 7.47781,3.7389 23.63882,4.04061 28.28428,4.04061 1.69069,0 7.90872,-2.14316 8.08122,-4.04061 0.6097,-6.70669 1.024,-13.54701 0,-20.20305 -0.36922,-2.39987 -2.86142,-3.93837 -4.04061,-6.06091 -2.00236,-3.60425 -6.99453,-12.74926 -8.08122,-18.18275 -0.26415,-1.32071 0,-2.69374 0,-4.04061"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path3352"
		       d="m 137.38075,472.53464 c 7.88374,18.61348 20.41011,32.53195 34.34518,46.46702 1.34687,1.34687 2.69374,2.69374 4.04061,4.04061 0.67344,0.67344 1.49202,1.22788 2.02031,2.02031 0.83529,1.25294 0.95551,2.97581 2.0203,4.04061 1.0648,1.06479 2.78767,1.18501 4.04061,2.0203 5.02538,3.35026 0.23212,0.46423 2.02031,4.04061 4.20401,8.40803 -0.13947,-2.15978 4.04061,2.02031 1.71693,1.71693 2.32368,4.34398 4.04061,6.06091 0.47619,0.47619 2.0203,-0.67343 2.0203,0 0,1.43105 -9.42809,-2.8621 2.02031,0 9.2859,2.32148 0.45837,2.02031 6.06091,2.02031"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path3354"
		       d="m 236.3757,547.28593 c 21.9332,0.87327 42.17879,-3.51102 62.62945,-12.12183 6.30977,-2.65674 8.06504,-12.10565 12.12183,-16.16244 2.12959,-2.12959 5.49872,-2.49111 8.08122,-4.04061 0.81666,-0.49 1.16847,-1.59439 2.02031,-2.0203 0.60234,-0.30117 1.54411,0.47619 2.0203,0 0.47619,-0.47619 -0.30116,-1.41797 0,-2.02031 0.42592,-0.85183 1.59439,-1.16847 2.02031,-2.0203 0.30117,-0.60234 -0.30117,-1.41797 0,-2.02031 2.49649,-4.99299 2.0203,0.69737 2.0203,-4.04061"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path3356"
		       d="m 359.61431,472.53464 c 0,4.04061 -0.79243,8.15969 0,12.12183 3.25198,16.25991 2.94854,1.85648 8.08122,12.12184 0.60233,1.20467 -0.32667,2.73395 0,4.04061 0.36522,1.46088 1.34687,2.69374 2.0203,4.04061 0,2.69374 -0.52828,5.43979 0,8.08122 0.37356,1.86777 3.57864,2.19272 4.04061,4.04061 0.33152,1.32606 -0.47813,13.18587 0,14.14213 0.42592,0.85184 1.71914,1.1168 2.02031,2.02031 0.42591,1.27775 0,2.69374 0,4.04061 0,1.34687 0,2.69374 0,4.04061 0,4.71404 0,9.42809 0,14.14213 0,0.46623 -0.23312,5.98321 0,6.06092 20.23948,6.74649 -18.76989,-17.92243 20.20305,6.06091 4.47946,2.7566 7.68443,7.27773 12.12183,10.10153 3.05959,1.94701 6.76819,2.61204 10.10152,4.04061 6.51696,2.79298 5.33107,3.31076 12.12183,10.10152 4.04061,4.04061 12.92996,6.46498 12.12183,12.12183 -0.67343,4.71405 -9.39233,1.68104 -14.14213,2.02031 -18.82359,1.34454 -17.8654,-1.11255 -34.34519,-10.10153 -2.64395,-1.44215 -5.49871,-2.4911 -8.08122,-4.04061 -0.81666,-0.48999 -2.69374,-1.34687 -2.0203,-2.0203 0.67343,-0.67344 1.16847,1.59439 2.0203,2.0203 11.31692,5.65846 23.94224,8.9604 34.34519,16.16245 7.44918,5.15712 27.23036,19.72686 18.18274,20.20305 -19.77894,1.04099 -37.52429,-12.74154 -56.56854,-18.18275 -0.64752,-0.18501 -0.16333,1.36698 0,2.02031 0.5165,2.066 0.96374,4.21191 2.02031,6.06091 1.67058,2.92353 6.87757,4.81458 6.06091,8.08122 -1.04583,4.18334 -6.40394,10.29977 -10.10152,8.08122 -8.74747,-5.24848 -31.72941,-32.5843 -40.4061,-46.46702 -0.71384,-1.14214 0.95238,-3.08823 0,-4.04061 -0.4762,-0.47619 -1.71914,0.60234 -2.02031,0 -0.85834,-1.71667 0.66944,-8.09321 0,-10.10152 -0.30117,-0.90351 -1.27662,-2.61525 -2.02031,-2.02031 -3.36717,2.69374 -4.35652,7.92879 -8.08122,10.10153 -16.39424,9.56331 -11.23787,2.2097 -22.22335,4.04061 -2.10061,0.3501 -3.97268,1.60266 -6.06092,2.0203 -2.00674,0.40135 -10.6424,0 -12.12183,0 -0.67343,0 -1.41796,-0.30117 -2.0203,0 -9.76749,4.88375 18.09179,0.26391 -12.12183,4.04061 -2.00471,0.25059 -4.14429,-0.63887 -6.06092,0 -0.63887,0.21296 0.47619,1.54412 0,2.02031 -0.47619,0.47619 -1.38143,-0.21296 -2.0203,0 -1.42857,0.47619 -2.55906,1.75093 -4.04061,2.0203 -12.85956,2.33811 -25.46294,2.02031 -38.3858,2.02031 -6.06092,0 -12.12183,0 -18.18275,0 -2.0203,0 -4.10093,0.49 -6.06091,0 -1.46089,-0.36522 -2.64247,-1.46105 -4.04061,-2.02031 -14.54892,-5.81956 4.11817,4.07641 -22.22336,-8.08122 -9.04867,4.27301 -7.7783,-5.90945 -12.12183,-8.08122 -0.60234,-0.30117 -1.45997,0.37356 -2.0203,0 -1.58486,-1.05657 -2.33694,-3.18877 -4.04061,-4.04061 -0.60234,-0.30117 0.30117,1.41797 0,2.02031 -0.42592,0.85183 -1.22788,1.49202 -2.02031,2.0203 -9.32578,6.21719 -18.63484,12.48081 -28.28427,18.18275 -5.18569,3.06427 -10.95957,5.04621 -16.16244,8.08122 -2.9085,1.69662 -5.06953,4.55507 -8.081221,6.06092 -1.000684,0.50034 -10.081074,0.24479 -8.08122,-4.04061 7.492705,-16.0558 12.759751,-20.84098 22.223361,-30.30458 0.67343,-0.67344 -1.24533,1.46674 -2.02031,2.0203 -3.95166,2.82262 -7.68417,6.10893 -12.121831,8.08122 -0.360185,0.16009 -10.672406,0 -12.12183,0 -4.04061,0 -8.081221,0 -12.121831,0 -1.34687,0 -2.835933,0.60234 -4.04061,0 -0.602338,-0.30117 -0.301169,-1.41796 0,-2.0203 1.085881,-2.17176 1.958528,-4.81167 4.04061,-6.06092 1.732398,-1.03943 8.081221,0 6.060916,0 -6.734351,0 -13.468701,0 -20.203051,0 -1.34687,0 -2.762857,0.42592 -4.04061,0 -0.903508,-0.30117 -1.16847,-1.59438 -2.020306,-2.0203 -0.602338,-0.30117 -1.544114,0.47619 -2.020305,0 -0.47619,-0.47619 0,-1.34687 0,-2.02031 0,-2.69374 -0.528286,-5.43979 0,-8.08122 2.991784,-14.95892 8.85092,-6.21568 30.304577,-8.08122 6.060915,-0.67343 12.12183,-1.34687 18.182741,-2.0203 0,-0.67344 -0.47619,-1.54412 0,-2.02031 0.47619,-0.47619 1.34687,0 2.02031,0 4.71404,0 9.42809,0 14.14214,0 1.34687,0 2.76285,0.42592 4.04061,0 0.9035,-0.30117 1.11679,-1.71913 2.0203,-2.0203 1.27775,-0.42592 2.91995,0.74711 4.04061,0 1.25294,-0.8353 1.80735,-2.5499 2.02031,-4.04061 2.33134,-16.31938 -3.16528,-8.63157 -10.10153,-28.28427 -1.80702,-5.11988 -2.0203,-10.73304 -2.0203,-16.16244 0,-8.82276 3.79872,-13.35106 8.08122,-20.20306 2.08118,-3.32989 3.60788,-7.03523 6.06091,-10.10152 0.42069,-0.52587 1.41797,0.30117 2.02031,0 0.85183,-0.42592 1.34687,-1.34687 2.0203,-2.02031"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path3358"
		       d="m 121.21831,219.99651 c -5.38748,0.67343 -10.75534,1.52875 -16.16245,2.0203 -2.012,0.18291 -4.10093,-0.48999 -6.060911,0 -5.233269,1.30832 -5.444851,20.40841 0,22.22336 9.815661,3.27189 16.395571,-5.77603 20.203051,-12.12183 0.34648,-0.57747 -0.11071,-1.35603 0,-2.02031 0.56452,-3.38713 1.34687,-6.73435 2.02031,-10.10152 z"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path3360"
		       d="m 220.21325,254.34169 c 4.04061,2.02031 7.83612,4.63235 12.12184,6.06092 0.63887,0.21296 0,-1.34687 0,-2.02031 0,-1.34687 0.32666,-2.73395 0,-4.04061 -0.36523,-1.46088 -1.18502,-2.78767 -2.02031,-4.04061 -0.52829,-0.79242 -1.13604,-2.37401 -2.0203,-2.0203 -6.02559,2.41023 -10.56899,7.93073 -12.12184,14.14213 -0.16333,0.65333 1.34687,0 2.02031,0"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path3362"
		       d="m 111.11678,232.11834 c -2.69374,-1.34687 -5.67187,-2.2336 -8.08122,-4.04061 -0.53875,-0.40406 -0.60234,-2.32148 0,-2.02031 3.01169,1.50585 5.38748,4.04061 8.08122,6.06092 z"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path3370"
		       d="m 143.44166,312.93054 c 1.34687,-2.69374 2.2336,-5.67186 4.04061,-8.08122 0.40406,-0.53875 1.34687,0 2.02031,0 0.67343,0 1.41796,-0.30117 2.0203,0 0.85184,0.42592 1.59439,1.16847 2.02031,2.02031 0.33751,0.67502 0,15.89882 0,16.16244 0,0.67343 0.67343,2.0203 0,2.0203 -0.67344,0 0,-1.34687 0,-2.0203"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path3372"
		       d="m 428.30468,232.11834 c -2.69374,4.71404 -8.6808,8.74593 -8.08122,14.14213 0.40049,3.60438 6.50297,4.49043 10.10152,4.04061 2.83508,-0.35438 5.36796,-3.28908 6.06092,-6.06091 3.46959,-13.87837 -8.97684,-12.12183 -18.18275,-12.12183 -0.95238,0 -1.34687,1.34687 -2.0203,2.0203"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path3374"
		       d="m 379.81736,365.45847 c 9.52381,-0.57771 -2.38096,7.72058 0,10.10153 0.47619,0.47619 1.41796,-0.30117 2.0203,0 0.85184,0.42592 1.16847,1.59439 2.02031,2.0203 0.60234,0.30117 1.34687,0 2.0203,0 2.02031,0 4.2539,0.90351 6.06092,0 1.34687,-0.67343 2.0203,-2.53476 2.0203,-4.04061 0,-5.4294 2.92245,-13.91573 -2.0203,-16.16244 -6.40067,-2.90939 -14.35302,2.1609 -20.20305,6.06092 -2.31031,1.5402 5.38748,1.34687 8.08122,2.0203 z"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path3376"
		       d="m 143.44166,179.59041 c 35.79681,78.5983 -15.72151,-85.724699 -10.10152,-64.64977 4.33797,16.26741 6.97347,33.25391 14.14213,48.48733 2.02761,4.30866 -0.29228,-9.97949 2.02031,-14.14214 4.64824,-8.36683 9.6219,-17.94294 18.18274,-22.22336 3.51221,-1.7561 5.41536,6.22819 6.06092,10.10153 1.43925,8.63554 -2.3035,17.81779 0,26.26397 0.63887,2.34254 3.86392,-3.00674 6.06091,-4.04061 9.28114,-4.3676 19.23358,-7.2948 28.28427,-12.12184 1.32869,-0.70863 0.95552,-2.97581 2.02031,-4.04061 0.47619,-0.47619 0,1.34687 0,2.02031 0,2.69374 0.44285,5.42413 0,8.08122 -1.24393,7.46356 -9.20136,18.05125 -12.12183,22.22336 -1.09231,1.56044 -3.18878,2.33694 -4.04061,4.04061 -0.30117,0.60233 1.34687,0 2.0203,0 10.10153,0 20.20305,0 30.30458,0 0.67344,0 1.54411,-0.47619 2.02031,0 0.96362,0.96362 -1.48948,5.7955 -2.02031,6.06091 -21.07769,10.53885 -21.11569,6.43897 -42.42641,12.12183 -3.5041,0.93443 -6.70587,2.76724 -10.10152,4.04061 -5.79672,2.17377 -7.77391,2.44855 -14.14214,4.04061"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path3384"
		       d="m 375.77675,298.78841 c -0.31387,7.61042 8.95211,7.36725 12.12183,12.12183 0.83529,1.25294 1.18501,2.78767 2.0203,4.04061 1.05657,1.58485 3.18878,2.33694 4.04061,4.04061 0.30117,0.60234 -0.30117,1.41796 0,2.0203 0.42592,0.85184 1.59439,1.16847 2.02031,2.02031 0.30117,0.60234 -0.30117,1.41796 0,2.0203 -0.52624,4.26842 3.20531,0.76737 4.04061,2.02031 1.18128,1.77192 1.34687,4.04061 2.0203,6.06091 3.36718,4.04061 6.94571,7.91408 10.10153,12.12183 0.90351,1.20468 1.18501,2.78767 2.0203,4.04061 0.52829,0.79243 1.49202,1.22788 2.02031,2.02031 0.83529,1.25294 0.95551,2.97581 2.0203,4.04061 1.0648,1.06479 2.97582,0.95551 4.04061,2.0203 1.0648,1.0648 1.24556,2.74936 2.02031,4.04061 3.26868,5.44781 6.33283,11.04779 10.10152,16.16244 5.6777,7.70544 12.76033,14.3362 18.18275,22.22336 2.90557,4.22629 2.77758,10.20214 6.06092,14.14214 4.25036,5.10044 9.89176,9.04169 14.14213,14.14213 1.55444,1.86532 2.48618,4.1956 4.04061,6.06092 1.8291,2.19492 4.23182,3.86599 6.06092,6.06091 1.55443,1.86532 2.32368,4.34399 4.04061,6.06092 1.71693,1.71693 4.19559,2.48617 6.06091,4.04061 3.58824,2.9902 6.42955,7.16394 10.10153,10.10152 2.62932,2.10346 5.4519,3.95746 8.08122,6.06092 0.74368,0.59495 1.22787,1.49202 2.0203,2.0203 1.25294,0.8353 2.69374,1.34687 4.04061,2.02031 1.34687,1.34687 2.5168,2.89775 4.04061,4.04061 1.20468,0.90351 2.97582,0.95551 4.04061,2.0203 0.47619,0.47619 -0.47619,1.54412 0,2.02031 0.47619,0.47619 1.41797,-0.30117 2.02031,0 0.85183,0.42592 1.34687,1.34687 2.0203,2.0203 1.62241,1.62241 8.35118,8.93463 10.10153,10.10153 0.56033,0.37355 1.54411,-0.47619 2.0203,0 0.47619,0.47619 -0.47619,1.54411 0,2.0203 0.47619,0.4762 1.36698,-0.16333 2.02031,0 16.81605,4.20402 -2.43872,-0.13947 10.10152,4.04062 0.63888,0.21295 1.54412,-0.4762 2.02031,0 0.47619,0.47619 -0.47619,1.54411 0,2.0203 0.47619,0.47619 1.54411,-0.47619 2.0203,0 0.95239,0.95238 -0.95238,3.08823 0,4.04061 0.4762,0.47619 1.54412,-0.47619 2.02031,0 0.47619,0.47619 -0.30117,1.41797 0,2.02031 0.42592,0.85183 1.59439,1.16847 2.0203,2.0203 0.30117,0.60234 -0.47619,1.54412 0,2.02031 1.0648,1.06479 2.74936,1.24555 4.04062,2.0203 2.08208,1.24925 3.88915,2.95473 6.06091,4.04061 0.60234,0.30117 2.02031,-0.67343 2.02031,0 0,0.67344 -1.34687,0 -2.02031,0 2.02031,0.67344 4.10351,1.18142 6.06092,2.02031 24.6255,10.55378 0.98924,-0.0139 10.10152,6.06091 3.26727,2.17818 7.03524,3.60788 10.10153,6.06092 0.52586,0.42069 0.67343,2.0203 0,2.0203 -0.67344,0 0,-1.34687 0,-2.0203"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path3386"
		       d="m 383.85797,422.02702 c 2.69374,0 5.38748,0 8.08122,0 4.3815,0 8.32807,-0.82502 12.12183,2.0203 9.37301,-1.72875 2.32368,4.34399 4.04061,6.06092 1.06479,1.06479 2.97581,0.95551 4.04061,2.0203 0.47619,0.47619 -0.30117,1.41797 0,2.02031 0.42592,0.85183 1.59439,1.16847 2.0203,2.0203 0.30117,0.60234 -0.47619,1.54412 0,2.02031 0.47619,0.47619 1.34687,0 2.02031,0 0.67343,0 1.45997,0.37355 2.0203,0 11.71393,-7.80929 1.49605,-0.97178 4.04061,-6.06092 0.42592,-0.85183 1.59439,-1.16847 2.02031,-2.0203 0.30117,-0.60234 -0.30117,-1.41797 0,-2.02031 0.42592,-0.85183 1.34687,-1.34687 2.0203,-2.0203 0.67344,-0.67344 1.16847,-1.59439 2.02031,-2.02031 0.60234,-0.30117 1.34687,0 2.0203,0 2.02031,0 4.2539,-0.90351 6.06092,0 32.10503,16.05252 -10.84107,0.83751 20.20305,14.14214 1.23797,0.53056 2.69374,0 4.04061,0 0.67344,0 1.54412,0.47619 2.02031,0 0.47619,-0.47619 -0.47619,-1.54412 0,-2.02031 0.47619,-0.47619 1.54411,0.47619 2.0203,0 0.47619,-0.47619 -0.67343,-2.0203 0,-2.0203 0.67344,0 -0.67343,2.0203 0,2.0203 0.95238,0 1.1168,-1.71913 2.02031,-2.0203 1.27775,-0.42592 2.69374,0 4.04061,0"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path3388"
		       d="m 509.11688,444.25037 c 0,6.06092 0,12.12183 0,18.18275 0,2.0203 -1.42857,4.63234 0,6.06091 3.19439,3.19439 8.02009,4.16781 12.12183,6.06092 4.65668,2.14923 9.45545,3.97794 14.14214,6.06091 1.37606,0.61159 2.61204,1.54412 4.04061,2.02031 1.27775,0.42592 2.83593,-0.60234 4.04061,0 0.85183,0.42592 1.34687,1.34687 2.0203,2.0203 4.04061,1.34687 8.02653,2.87053 12.12183,4.04061 0.64753,0.18501 1.41797,-0.30116 2.02031,0 2.17176,1.08589 4.34399,2.32369 6.06092,4.04061 2.69374,2.69375 -3.36718,2.02031 2.0203,2.02031 0.67344,0 1.34687,0 2.02031,0 0.67343,0 1.71913,0.60234 2.0203,0 0.60234,-1.20468 0,-2.69374 0,-4.04061 0,-1.34687 0,-2.69374 0,-4.04061 0,-5.32764 1.1459,-11.41314 -2.0203,-16.16244 -0.27867,-0.418 -5.43393,0 -6.06092,0"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path3390"
		       d="m 529.31993,470.51434 c 6.06092,-8.08122 12.12183,-16.16244 18.18275,-24.24366 0.67343,-2.02031 1.34687,-8.08122 2.0203,-6.06092 3.03458,9.10374 -1.22297,14.33398 -4.04061,22.22336 -2.14877,6.01657 -3.81767,12.20076 -6.06091,18.18274 -0.23646,0.63056 0,-1.34687 0,-2.0203 0,-1.34687 0,-2.69374 0,-4.04061"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path3392"
		       d="m 549.52298,446.27068 c 17.87129,-27.79979 12.48831,-21.97748 28.28428,-40.4061 0.6198,-0.72311 1.06792,-2.02031 2.0203,-2.02031 0.67344,0 0.67344,2.02031 0,2.02031 -0.67343,0 0,-1.34687 0,-2.02031"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path3394"
		       d="m 547.50268,415.9661 c -9.7992,28.61932 17.93329,10.29478 24.24366,18.18275 1.88139,2.35173 1.53473,6.41063 4.04061,8.08122 1.25294,0.83529 0.67344,-4.71405 2.02031,-4.04061 1.34687,0.67343 -1.34687,2.69374 -2.02031,4.04061"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path3396"
		       d="m 589.92909,387.68183 c -12.15357,3.03839 -6.54426,-1.14058 -8.08122,8.08122 -0.35011,2.10061 -1.60266,3.97268 -2.02031,6.06092 -0.38176,1.9088 -0.45954,9.03873 2.02031,10.10152 3.76513,1.61363 8.04581,1.6127 12.12183,2.02031 2.68037,0.26803 5.38748,0 8.08122,0 1.34687,0 2.83593,0.60234 4.04061,0 0.60234,-0.30117 0,-1.34687 0,-2.02031 0,-0.67343 0,-1.34687 0,-2.0203 0,-4.71405 0,-9.42809 0,-14.14214 0,-1.34687 0,-2.69374 0,-4.04061 0,-0.67343 0.30117,-1.41797 0,-2.0203 -0.42592,-0.85184 -1.59439,-1.16847 -2.02031,-2.02031 -0.30117,-0.60234 0.47619,-1.54411 0,-2.0203 -0.47619,-0.4762 -1.38143,0.21295 -2.0203,0 -1.42857,-0.4762 -2.55526,-2.26787 -4.04061,-2.02031 -2.97072,0.49512 -5.38748,5.38748 -8.08122,4.04061 -2.40936,-1.20468 2.15499,-6.46498 0,-8.08122 -2.22132,-1.66599 -8.08122,-0.75634 -8.08122,2.0203 0,3.36718 5.38748,4.04062 8.08122,6.06092 z"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path3398"
		       d="M 250.51783,88.676677 C 224.00611,77.31451 235.05029,80.76097 189.90868,74.534541 c -4.00272,-0.552098 -8.08122,0 -12.12183,0 -2.02031,0 -4.0681,-0.332136 -6.06092,0 -2.10061,0.350103 -3.98204,1.558333 -6.06091,2.020305 -3.9988,0.888623 -8.29853,0.549803 -12.12183,2.020306 -5.06752,1.949043 -9.19394,5.846548 -14.14214,8.08122 -15.95747,7.2066 -34.12271,10.191355 -48.487321,20.203048 -8.735553,6.08842 -13.354359,16.77369 -18.182746,26.26397 -14.759392,29.00984 -26.270277,59.57468 -40.406102,88.89342 -4.063154,8.42729 -10.270736,15.72659 -14.142135,24.24366 -2.909394,6.40067 -4.092272,13.45342 -6.060915,20.20305 -2.7455018,9.41315 -6.4692292,18.61233 -8.0812208,28.28428 -1.1071204,6.64272 -0.1726189,13.47091 0,20.20305 0.5008924,19.5348 1.2233677,39.06388 2.0203051,58.58884 1.8968253,46.47223 3.0175552,92.98982 6.0609157,139.40106 2.345816,35.7737 -8.8698095,76.65661 10.101525,107.07617 44.854388,71.92169 121.977854,93.57279 197.989894,92.93403 50.05489,-0.42063 99.75208,-8.6143 149.50258,-14.14214 17.76063,-1.9734 126.21168,-21.22574 129.29953,-22.22335 18.92321,-6.11366 35.6193,-17.81703 52.52793,-28.28427 23.33736,-14.44694 41.57755,-31.10631 58.58885,-52.52794 10.22414,-12.87484 20.76517,-25.78563 28.28427,-40.4061 4.78135,-9.29708 5.54562,-20.1622 8.08122,-30.30457 2.17912,-8.71649 4.79028,-17.36953 6.06091,-26.26397 3.74671,-26.22696 0.96818,-34.30604 2.02031,-60.60915 0.2705,-6.76253 1.34687,-13.4687 2.0203,-20.20305 1.34687,-15.48901 3.51388,-30.92849 4.04061,-46.46702 0.82135,-24.22974 0,-48.48732 0,-72.73098 0,-6.73435 0.3363,-13.47711 0,-20.20305 -1.7698,-35.39613 -14.75503,-83.25265 -32.32488,-107.07617 -22.9791,-31.1581 -57.70249,-51.81678 -88.89342,-74.751293 C 511.29245,76.0748 479.6671,65.083288 446.48742,56.351796 c -10.60177,-2.789941 -21.4292,-4.850285 -32.32488,-6.060916 -13.40304,-1.489227 -26.96468,-0.93046 -40.4061,-2.020305 -11.48964,-0.931593 -22.82742,-3.570497 -34.34518,-4.04061 -21.532,-0.878857 -43.09985,0 -64.64977,0 -12.12183,0 -24.24366,0 -36.36549,0 -2.0203,0 -4.04061,0 -6.06091,0 -0.67344,0 -2.02031,0.673435 -2.02031,0 0,-0.673435 1.34687,0 2.02031,0"
		       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		  </g>
		</svg>


	<!-- </div> -->

</div>

<div class="container main">

<div class="wrapper-container with-margin">
	<div class="padded-content">
	<div class="wrapper-33">
		<h2 class="center">One</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, neque, quasi. Libero neque similique optio. Excepturi aut iste ipsam ea ipsum dolorem, beatae delectus! Fuga placeat architecto temporibus dignissimos minima. Commodi soluta ipsam minus veritatis porro fugit optio, doloremque aperiam.</p>
	</div>
	<div class="wrapper-33">
		<h2 class="center">Two</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi explicabo assumenda veniam ab laborum, praesentium in laboriosam, aliquam esse temporibus? Delectus veritatis molestiae minus ea quos aliquam, voluptas deserunt debitis nisi alias illo, suscipit voluptatum quam facilis animi repellat necessitatibus!</p>
	</div>
	<div class="wrapper-33">
		<h2 class="center">Three</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa quas impedit repellat non debitis accusamus temporibus repellendus. Earum, voluptates, fuga qui possimus tenetur quo hic numquam ex culpa tempora iure, non. Ea porro alias perspiciatis voluptatum ducimus, asperiores similique. Voluptatum!</p>
	</div>
	</div>
</div>

<div class="wrapper-100">
	<div class="padded-content">
	<h2 class="center">Words</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta pariatur alias veniam adipisci explicabo, nemo magni ducimus sequi. Ducimus, architecto. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem et, enim hic impedit ea eum suscipit nihil error magnam nobis odit deserunt, recusandae eius placeat dolorum, facere quo sunt quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, unde. Saepe necessitatibus exercitationem ipsa nam reiciendis ut a sapiente maxime, perspiciatis cum, ratione fugiat cupiditate accusamus ipsam, quo! Fugiat beatae, error accusantium. Velit maiores, nihil consequuntur dignissimos cumque placeat! Delectus eius obcaecati aliquid a praesentium? Illum autem consectetur incidunt, sint qui odit animi, ea laudantium voluptatibus quaerat rerum dolore quia?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, dicta placeat. Vero quod in laborum quaerat magni animi optio reiciendis, fugit eaque architecto iusto molestias reprehenderit id sit ullam ipsa aut laboriosam amet eius minima, itaque expedita mollitia tempore? Officia dolor, molestias esse iure libero, ea perferendis eos! Facere, voluptate?</p>
	</div>
</div>
	

<div class="svg-block">
	

</div>



</div><!-- end container -->

<!--Helper to include scripts in the footer for this page only -->
<% content_for :callScripts do %>

<script>
	
	// function(){
  	document.getElementById('svg01').style.visibility = 'visible';
  // }

  new Vivus('svg01', {type: 'oneByOne', duration: 500});

</script>

<% end %>

<!--Helper to include JQuery in the footer for this page only.
Note: $(function() already called -->
<% content_for :footerscriptsInline do %>
<% end %>

<%= partial "footer" %>